# Ignorar todo
/*

# Excepto estos archivos/carpetas
!/.gitignore
!/index.html
!/main.js
!/styles.css
!/img
!/README.md
!/docs

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos temporales
*.tmp
*.bak