# Ignorar todo
/*

# Excepto estos archivos/carpetas
!/.gitignore
!/index.html
!/javascript.js
!/estilos.css
!/img
!/README.md

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos temporales
*.tmp
*.bak